// Mixin
// Set các giá trị với màn hình tương ứng
// Max width
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin xs {
    @media (max-width: #{$xs - 1px}) {
        @content;
    }
}

@mixin sm {
    @media (max-width: #{$sm - 1px}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$md - 1px}) {
        @content;
    }
}

// Ant table & pagination
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th,
.ant-table tfoot > tr > td,
.ant-table tfoot > tr > th {
    padding: 10px 8px;
}
table tr td.ant-table-selection-column, table tr th.ant-table-selection-column {
    padding-right: 13px;
}

.ant-pagination-next {
    margin-right: 8px;
}
.ant-pagination-options {
    margin-left: 8px;
}
.ant-tabs-nav-container {
    margin: auto 12px;
}

// Colors
.color-danger {
    color: #ff4d4f;
}

.color-primary {
    color: #6dc3a6;
}

.color-link {
    color: #1890ff;
}

// Logo
.logo {
    // background: rgba(174, 174, 179, 0.342);
    margin: 0;
    padding: 16px;
    line-height: 32px;
    text-align: center;
    color: white;
    // Nested property
    font : {
        size: 16px;
        weight: bold;
    }
    .ant-layout-sider-light & {
        background-color: #616161;
    }
    img {
        height: 28px;
        margin: 0 10px;
    }
}

// Main content
.content {
    margin: 24px 16px 0;
    min-width: 270px;
    .list-form {
        padding: 16px 0;
        background: #fff;
        // background: #1f1f1f;        // For Dark mode
    }
}

// Home Chart Card
.chart-card {
    background: white;
    padding: 16px 12px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(40, 40, 40, 0.1);
}

// Sider
.ant-layout-sider {
    min-height: 100vh;
    background: #020d07;
}

.ant-menu-dark .ant-menu-item-divider {
    background-color: rgba(68, 68, 68, 0.45);
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    color: #c1cac4b3;
    background: #020d07;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #000703;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a {
    color: #c1cac4b3;
}

.ant-layout-sider-light {
    .ant-layout-sider-zero-width-trigger {
        color: rgb(255, 255, 255) !important;
        background: #616161 !important;
    }
}

.ant-layout-sider-zero-width-trigger {
    background: #020d07;
    box-shadow: 1px 2px 6px rgba(0, 30, 0, 0.25);
}

.ant-table-expand-icon-col {
    width: 30px;
}

//  My Header & Drawer
.my-header {
    background: white;
    // background: rgb(20,20,20);      // For dark mode
    padding-bottom: 0;
    padding-right: 16px;
    min-width: 320px;

    .btn-drawer {
        display: none;
    }
    .nav-user {
        .ant-menu-submenu-title {
            padding-right: 0;
        }
    }
    @include sm {
        padding-bottom: 16px;
        .menu-account {
            display: none;
        }
        .btn-drawer {
            display: block;
            // color: rgba(0, 0, 0, 0.85);
        }
        .ant-page-header-heading-extra {
            padding-top: 0;
            float: right;
            clear: none;
            width: auto;
        }
    }
}

.drawer-account {
    .ant-drawer-body {
        padding: 8px 0;
        ul {
            border: none;
        }
    }
}

//  Loading screen ban đâu
.loading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .loading-content {
        max-width: 400px;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 20px;

        img {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
        .loading-text {
            text-align: center;
            font-size: 0.9rem;
            font-style: italic;
        }
    }
}

//  Profile & password change
.sm-container {
    padding: 16px;
    max-width: 700px;
    margin: auto;
}

.filter-box {
    padding: 5px 10px 10px;
    border-bottom: 1px solid rgba(232, 232, 232, 0.72);

    @include xs {
        button {
            margin-top: 32px;
        }
    }
}

.ant-table tfoot > tr {
    background-color: #fafafa;
    th {
        text-align: center;
    }
    th,
    td {
        border: none;
        font-weight: 500;
    }
}

.ant-form-item {
    margin-bottom: 20px;

    @include xs {
        margin-bottom: 10px;

        .ant-form-item-label {
            padding: 0;
        }
    }
}

.ant-modal-body {
    padding: 16px 16px 5px;
}

.not-found-content {
    text-align: center;

    img {
        width: 60%;
        min-width: 250px;
        max-width: 480px;
        margin: 32px auto;
        display: block;
    }
}
