@import "./vars.scss";
@import "./filter-box.scss";
@import "./login.scss";
@import "./my-antd.scss";
@import "./tools-button.scss";

// Colors
.color-danger {
    color: #ff4d4f;
}

.color-primary {
    color: $primary-color;
}

.color-link {
    color: #1890ff;
}

.muted-text {
    color: #b5b5b5;
}

// Logo
.logo {
    // background: rgba(174, 174, 179, 0.342);
    margin: 0;
    padding: 16px;
    line-height: 32px;
    text-align: center;
    color: $background-color;
    // Nested property
    font : {
        size: 16px;
        weight: bold;
    }
    .ant-layout-sider-light & {
        background-color: #616161;
    }
    img {
        height: 28px;
        margin: 0 10px;
    }
}

// Main content
.content {
    margin: 24px 16px;
    min-width: 270px;

    @include xs {
        margin: 18px 12px;
    }

    .list-form {
        background: $background-color;
        padding: 16px 0 0;
        border-radius: 4px;
        @include shadow;
    }
}

// Home Chart Card
.chart-card {
    background: $background-color;
    padding: 16px 12px;
    border-radius: 10px;
    @include shadow;

    text-align: center;

    @include xs {
        padding: 12px 5px;
    }

    .ant-radio-group-solid {
        padding: 3px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }
    .ant-radio-button-wrapper {
        border-color: transparent;
    }
}

//  My Header
.my-header {
    background: $background-color;
    padding-right: 16px;
    min-width: 320px;
    box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.15);

    .user-text {
        margin-right: 8px;
    }
    .user-logo {
        font-size: 18px;
        vertical-align: top;
        background: rgb(34, 193, 195);
        background: linear-gradient(
            0deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(253, 187, 45, 1) 100%
        );
        color: white;

        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 5px;
        margin-top: -5px;
        margin-left: 0px !important;
    }
    .btn-user {
        border: none;
        box-shadow: none;
        padding: 4px;
    }
    @include sm {
        .ant-page-header-heading-extra {
            padding-top: 0;
            float: right;
            clear: none;
            width: auto;
        }
        .user-text {
            display: none;
        }
    }
}

//  Loading screen ban đâu
.loading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .loading-content {
        max-width: 400px;
        min-width: 300px;
        padding: 20px;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        img {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
        .loading-text {
            text-align: center;
            font-size: 0.9rem;
            font-style: italic;
        }
    }
}

//  Profile & password change
.sm-container {
    padding: 16px;
    max-width: 700px;
    margin: auto;
}

.not-found-content {
    text-align: center;

    img {
        width: 60%;
        min-width: 250px;
        max-width: 480px;
        margin: 32px auto;
        display: block;
    }
}

.form-footer {
    @include xs {
        button {
            margin-top: 32px;
            width: 100%;
        }
    }
}
