// Ant table & pagination
.ant-table {
    thead > tr > th,
    tfoot > tr > td,
    tfoot > tr > th {
        padding: 8px 6px;
    }

    .ant-table-tbody .ant-table-cell {
        padding: 13px 5px;

        &.ant-table-cell-fix-right {
            padding: 8px 6px;
        }
    }

    .ant-table-column-sorters {
        padding: 0 6px;
    }
    .ant-table-selection-column {
        padding-right: 13px;
    }

    tfoot > tr {
        background-color: #fafafa;
        th {
            text-align: center;
        }
        th,
        td {
            border: none;
            font-weight: 500;
        }
    }

    .ant-table-expand-icon-col {
        width: 28px;
    }
}

.ant-table-pagination.ant-pagination {
    margin: 10px 5px;
    text-align: right;

    li {
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .ant-pagination-options {
        margin-left: 8px;
    }
}

/////////
.ant-tabs-nav-container {
    margin: auto 12px;
}

.ant-form-item {
    margin-bottom: 20px;

    @include xs {
        margin-bottom: 10px;

        .ant-form-item-label {
            padding: 0;
        }
    }
}

.ant-modal-body {
    padding: 16px 16px 5px;
}

// Sider
.ant-layout-sider {
    min-height: 100vh;
    background: #020d07;
}

.ant-menu-dark .ant-menu-item-divider {
    background-color: rgba(68, 68, 68, 0.45);
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    color: #c1cac4b3;
    background: #020d07;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #000703;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a {
    color: #c1cac4b3;
}

.ant-layout-sider-light {
    .ant-layout-sider-zero-width-trigger {
        color: rgb(255, 255, 255) !important;
        background: #616161 !important;
    }
}

.ant-layout-sider-zero-width-trigger {
    background: #020d07;
    box-shadow: 1px 2px 6px rgba(0, 30, 0, 0.25);
}
