// Ant table & pagination
.ant-table {
    thead > tr > th,
    tfoot > tr > td,
    tfoot > tr > th {
        padding: 8px 6px;
    }

    .ant-table-tbody .ant-table-cell {
        padding: 13px 5px;

        &.ant-table-cell-fix-right {
            padding: 8px 6px;
        }
        @at-root .ant-table .ant-table-selection-column,
            &.ant-table-selection-column {
            padding-right: 13px;
        }
    }

    .ant-table-column-sorters {
        padding: 0 6px;
    }

    tfoot > tr {
        background-color: #fafafa;
        th {
            text-align: center;
        }
        th,
        td {
            border: none;
            font-weight: 500;
        }
    }

    .ant-table-expand-icon-col {
        width: 28px;
    }
}

.ant-table-pagination.ant-pagination {
    margin: 10px 5px;
    text-align: right;

    li {
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .ant-pagination-options {
        margin-left: 8px;
    }
}

/////////
.ant-tabs-nav-container {
    margin: auto 12px;
}

.ant-form-item {
    margin-bottom: 20px;

    @include xs {
        margin-bottom: 10px;

        .ant-form-item-label {
            padding: 0;
        }
    }
}

.ant-modal-body {
    padding: 16px 16px 5px;
}

.ant-page-header-back {
    @include md {
        display: none;
    }
}

.ant-layout {
    min-height: 100vh;
}

.ant-pagination-prev{
    min-width: inherit;
}