// Mixin
// Set các giá trị với màn hình tương ứng
// Max width
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$primary-color: #6dc3a6;
$secondary-color: #ab4b64;
$background-color: #fff;

// Pro sidebar
$sidebar-width: 230px !default;
$sidebar-collapsed-width: 75px !default;
$icon-bg-color: hsla(0, 0%, 100%, 0.05) !default;
$submenu-bg-color: hsla(0, 0%, 100%, 0.05) !default;
$submenu-bg-color-collapsed: rgba(21, 39, 37, 0.9) !default;
$highlight-color: #eee !default;

@mixin xs {
    @media (max-width: #{$xs - 1px}) {
        @content;
    }
}

@mixin sm {
    @media (max-width: #{$sm - 1px}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$md - 1px}) {
        @content;
    }
}

@mixin shadow {
    box-shadow: 0 1.3px 2.2px rgba(0, 0, 0, 0.047),
        0 4.5px 6.5px rgba(0, 0, 0, 0.06), 0 20px 20px rgba(0, 0, 0, 0.1);
}
