.logo {
    /* background: rgba(174, 174, 179, 0.342); */
    margin: 0;
    padding: 16px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ant-layout-sider-light .logo {
    background-color: #616161;
}

.logo img {
    height: 28px;
    margin: 0 10px;
}

.content {
    margin: 24px 16px 0;
    padding: 16px 0;
    background: #fff;
    /* text-align: center; */
}

.ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
    color: rgb(255, 255, 255) !important;
    background: #616161 !important;
}

.nav-user .ant-menu-submenu-title {
  padding-right: 0;
}

.loading-screen {
    transform: translateY(50vh);
}

.loading-screen .ant-spin {
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateY(-50%);
}