.logo {
    background: rgba(255, 255, 255, 0.2);
    margin: 0;
    padding: 16px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.logo img {
    height: 28px;
    margin: 0 10px;
}

.content {
    margin: 24px 16px 0;
    padding: 24px;
    background: #fff;
    text-align: center;
}
